<section data-ng-controller="AlarmsController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update(alarm,true)">
        <div class="control-group">
            <label class="control-label" for="alarmActive">Active</label>
            <div class="controls">
                <input type="checkbox" data-ng-model="alarm.active" id="alarmActive">

            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input type="text" data-ng-model="alarm.title" id="title" placeholder="Title" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="wakeTime">Waketime</label>
            <div class="controls">
                <input type="time" data-ng-model="alarm.wakeTime" id="wakeTime" placeholder="00:00" required>
            </div>
        </div>
        <div class="control-group" >
            <label class="control-label" for="allowedPriorTime">Allowed time prior to Waketime</label>
            <div class="controls">
                <input type="time" data-ng-model="alarm.allowedPriorTime" id="allowedPriorTime" placeholder="00:30" >
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="oneTime">Single alarm</label>
            <div class="controls">
                <input type="checkbox" data-ng-model="alarm.oneTime" id="oneTime">

            </div>
        </div>

        <div class="control-group" data-ng-show="!alarm.oneTime">
            <div class="controls">
                <label ng-repeat="day in days">
                    <!--
                      - use `value="{{fruit.name}}"` to give the input a real value, in case the form gets submitted
                        traditionally

                      - use `ng-checked="fruit.selected"` to have the checkbox checked based on some angular expression
                        (no two-way-data-binding)

                      - use `ng-model="fruit.selected"` to utilize two-way-data-binding. Note that `.selected`
                        is arbitrary. The property name could be anything and will be created on the object if not present.
                    -->
                    <input
                            type="checkbox"
                            name="daysOfWeek[]"
                            value="{{day.name}}"
                            ng-model="day.selected"
                            > {{day.name}}
                </label>
            </div>
        </div>





        <div class="control-group" >
            <label class="control-label" for="duration">Waking duration</label>
            <div class="controls">
                <input type="time" data-ng-model="alarm.ambientDuration" id="duration" placeholder="00:30" >
            </div>
        </div>

        <div class="button btn" data-ng-click="play()">Play</div>
        <div class="button btn" data-ng-click="stop()">Stop</div>
        <div class="gradientplayercontrols"><select class="speed" ng-model="speed"><option value="1">original</option><option value="2">x2</option><option value="4">x4</option><option value="8">x8</option><option value="16">x16</option></select></div>
        <div class="gradientpicker" gradient-picker/>

        <div class="soundpicker" sound-picker/>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>