<section data-ng-controller="AlarmsController" data-ng-init="findOne()">
    <span>{{alarm.created | date:'medium'}}</span>
    <span>{{alarm.user.name}}</span>
    <h2>{{alarm.title}}</h2>
    <div data-ng-show="global.user._id == alarm.user._id">
        <a class="btn" href="/#!/alarms/{{alarm._id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <div>{{alarm.wakeTime}}</div>
    <div data-ng-show="!alarm.oneTime"><span data-ng-repeat="day in alarm.dayOfWeek">{{days[day].name}}</span> </div>
    <div data-ng-show="alarm.oneTime">only Once</div>


</section>
